:root{
    --suit:repeating-linear-gradient(90deg,rgb(85, 86, 87),rgb(106, 107, 107) 5%,transparent 5%,transparent 35%),
    repeating-linear-gradient(rgb(66, 66, 73),rgb(52, 52, 56));
    --skin:linear-gradient(100deg,burlywood,rgb(233, 202, 162));
}
*{
    padding: 0;
    margin:0;
    overflow: hidden;
}
body{
    background:radial-gradient(closest-corner at 10% 17%,#eecd2b 0%,#eecd2b 26%,rgba(255, 255, 149, 0.933) 28%,skyblue 100%);
    width:100%;
    height: 100vh;
}
.road{
    position: absolute;
    background:linear-gradient(100deg,rgb(80, 79, 79),rgb(41, 40, 40));
    width:100%;
    border-top:3px solid white;
    border-bottom:3px solid white;
    padding:5vw 0px 5vw 40px;
    bottom: 0;
}
.white-lanes{
    background-color: #fff;
    width:5vw;
    height:5px;
    border-radius: 3px;
    float: left;
    margin-right: 80px;
}
.truck *{
    position: absolute;
}
.truck.left{
    position: absolute;
    width:150px;
    height:66px;
    bottom:0;
    z-index:1;
    margin-left: 10px;
    animation: truck-left 7s ease-in-out infinite;
}
.truck-head{
    width:70px;
    height: 36px;
    background-color: rgb(161, 161, 250);
    left:22.8%;
    transform: rotate(45deg);
    top:0%;
    border-radius:10% 30% 5px 0;
}
.truck-body{
width:80px;
height: 55px;
background-color: orange;
bottom:17%;
color:rgb(94, 94, 219);
font-size: 17px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
border-radius: 2px;
}
.truck-wheels{
height:25px;
width:25px;
border-radius:50%;
background: linear-gradient(100deg,rgb(255, 250, 250),rgb(41, 40, 40));
bottom:1%;
animation: wheels 7s linear infinite;
}
@keyframes wheels {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.truck-wheels.left{
left:2%;
}
.truck-wheels.right{
right:43%;
}
@keyframes truck-left{
    0%{
        left:2%;
    }
    100%{
        left:100%;
    }
    
}
@keyframes truck-right{
    0%{
        right:2%;
    }
    100%{
        right:100%;
    }
    
}
.truck.right{
    position: absolute;
    width:150px;
    height:66px;
    bottom:12.5%;
    z-index:1;
    margin-right: 10px;
    right:0;
    transform:scaleX(-1);
    animation: truck-right 7s ease-in-out infinite;
}
.truck.right>.truck-body{
    transform: scaleX(-1);
    border-radius: 2px;
}
.ground{
    background:linear-gradient(100deg,rgb(207, 207, 164),burlywood);
    height:20%;
    width:100%;
    position: absolute;
    bottom: 11%;
}
.david *{
    position: absolute;
    overflow:hidden;
}
.david{
    width:45%;
    height:70%;
    z-index:1;
    position: absolute;
    left:30%;
    top:10%;
}
.david-head{
    width:31%;
    height:40%;
    left:32.5%;
    top:3%;
    overflow: hidden;
    border-radius: 40% 40% 75% 75%;
    background: var(--skin);
}
.david-hair{
    width:100%;
    height:10%;
    background:rgb(36, 34, 34);
    top:0;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}
.david-neck{
    height:20%;
    width:16%;
    top:32%;
    left:40%;
    background:var(--skin);
    border-radius: 0 0 40% 40%;
    z-index:-1;
}
.hair-shape{
    height:25%;
    width:13%;
    background:rgb(36, 34, 34);
}
.hair-shape.left{
    left:0;
    border-radius: 0 30% 70% 10% ;
}
.hair-shape.right{
    right:0;
    border-radius: 30% 0 10% 70%;
}
.david-eye-brow{
    width:30px;
    height:30px;
    top: 29.5%;
    border-radius:70%;
    background:linear-gradient(100deg,rgb(54, 54, 54),rgb(36, 33, 33))
}
.david-eye-brow.left{
    left:27%;
}
.david-eye-brow.right{
    right:27%;
}
.david-eye-lid{
    background:linear-gradient(100deg,rgb(211, 191, 101),rgb(243, 204, 152));
    width:30px;
    height:20px;
    border-radius: 70%;
    top:33%;
    z-index:3;
}
.david-eye-lid.left{
    left:27%;
}
.david-eye-lid.right{
    right:27%;
}
.david-eyes{
    width:30px;
    height:30px;
    border-radius: 70%;
    top:35%;
    background: linear-gradient(120deg,rgb(245, 237, 237),rgb(253, 251, 251));
}
.david-eyes::before{
    content:" ";
    background-color: rgba(12, 12, 12, 0.8);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top:21%;
    left:13.7%;
}
.david-eyes::after{
    position: absolute;
    content:" ";
    background: linear-gradient(120deg,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9));
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top:44%;
    left:16%;
}
.david-eyes.left{
    left:27%;
}
.david-eyes.right{
    right:27%;
}
.david-nose *{
    position: absolute;
}
.david-nose{
    position: absolute;
    top:50%;
    width:35%;
    height:20%;
    left:33%;
}
.nose-width{
    width:30%;
    height: 80%;
    left:41%;
    top: 13%;
    background:linear-gradient(100deg,rgb(223, 183, 132),rgb(228, 194, 149));
    border-radius:0 0 50% 50%;
    z-index:1;
    border-bottom: 2px solid black;
}
.nose-side{
    border: 1px solid black;
    border-top-color:transparent;
    position: absolute;
    width:19px;
    height:19px;
    top:31%;
    background:var(--skin);
}
.nose-side.left{
    left:29%;
    border-radius: 50% 0 0 70%;
    border-right-color: transparent;
}
.nose-side.right{
    right:17%;
    border-radius: 0 50% 70% 0;
    border-left-color: transparent;
}
.lip-cover{
    background-color: black;
    width:25%;
    height:10%;
    top:74.5%;
    left:39.5%;
    border-radius: 70%;
    overflow: hidden;
}
.lips{
    top:70%;
    left:39%;
}
.lips.top{
    height:70%;
    width:100%;
    border-radius:70% 70% 80% 80%;
    top:0;
    left:0;
    background: linear-gradient(120deg,rgb(95, 93, 93),rgb(88, 83, 83));
}
.lips.bottom{
    height: 33%;
    width:80%;
    top:65%;
    left:10%;
    background:linear-gradient(120deg,rgb(245, 154, 168),rgb(252, 166, 179));
    border-radius: 90% 90% 80% 80%;
}
.david-body *{
    position: absolute;
}
.david-body{
    width:65%;
    height:50%;
    top:44%;
    left:15%;

}
.white-shirt{
    background-color: white;
    height: 40%;
    width:41%;
    left: 30%;
    border-radius: 50%;
    top:-1%;

}
.black-coat{
    border-width:3vw 5vw 10vw;
    border-style: solid;
    border-top-color:transparent ;
    left:33%;
    top:0.7%;
}
.suit{
    width:35%;
    height:80%;
    z-index:3;
    background: var(--suit);
}
.suit.left{
    left:15%;
    border-radius: 20px 70% 70% 10%;
}
.suit.right{
    right:15%;
    border-radius: 70% 20px 10% 70%;
}
.david-hands *{
    position: absolute;
}
.david-hands{
    width:40%;
    height:31%;
    position: absolute;
    top:32%;
    z-index: 2;
}
.elbow-hand{
    width:85%;
    height:95%;
    top:-3%;
    left:5%;
    animation:left-elbow 3s linear infinite;
}
.david-hands.left [class="elbow"]{
    width:12%;
    height:87%;
    background:repeating-linear-gradient(90deg,rgb(85, 86, 87),rgb(106, 107, 107) 5%,transparent 5%,transparent 35%),
    repeating-linear-gradient(rgb(66, 66, 73),rgb(52, 52, 56));
    transform: rotate(-10deg);
    left:13%;
    bottom:0;
    border-radius: 70% 70% 37% 60%;
}
.david-hands.left{
    left:7%;
}
.david-hands.right{
    right: 5%;
    transform: scaleX(-1);
    top:35%;
}
.david-hands.left .arm{
    width:40%;
    height:19%;
    background:repeating-linear-gradient(180deg,rgb(85, 86, 87),rgb(106, 107, 107) 5%,transparent 5%,transparent 35%),
    repeating-linear-gradient(rgb(66, 66, 73),rgb(52, 52, 56));
    bottom:17%;
    transform:rotate(-27deg);
    left:23.5%;
    border-radius:50% 50% 0 10px;
    animation:left-arm 3s linear infinite;
}
@keyframes left-arm {
    0%{
        transform: rotate(-27deg);
    }
    25%{
        transform:rotate(-35deg);
    }
    50%{
        transform:rotate(-27deg);
    }
    75%{
        transform:rotate(-35deg);
    }
    100%{
        transform:rotate(-27deg);
    }
}
.david-hands.right .arm{
    width:39%;
    height:19%;
    background:repeating-linear-gradient(180deg,rgb(85, 86, 87),rgb(106, 107, 107) 5%,transparent 5%,transparent 35%),
    repeating-linear-gradient(rgb(66, 66, 73),rgb(52, 52, 56));
    bottom:20%;
    transform:rotate(135deg);
    left:36.6%;
    border-radius:50% 70% 40% 20%;
}
    
.right-elbow{
    width:4%;
    height:35%;
    background:repeating-linear-gradient(91deg,rgb(85, 86, 87),rgb(106, 107, 107) 5%,transparent 5%,transparent 35%),
    repeating-linear-gradient(rgb(66, 66, 73),rgb(52, 52, 56));
    transform: rotate(80deg);
    left:63.6%;
    top:48.5%;
    z-index: 3;
    border-radius: 20% 50% 30% 30%;
}
.david-hands.left .hand{
    width:30%;
    height:40%;
    left:4%;
    top:-2%;
    transform:rotate(-15deg);
}
@keyframes left-elbow {
    0%{
        transform:rotate(-5deg)
    }
    25%{
        transform: rotate(-12deg);
    }
    50%{
        transform:rotate(-5deg);
    }
    75%{
        transform:rotate(-12deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
.right-hand{
    width:13%;
    height:13.5%;
    left:46%;
    top:59.9%;
    z-index:4;
    transform:rotate(-100deg);
}
.bottom-hand{
    background: linear-gradient(100deg,burlywood,rgb(233, 202, 162));
    width:32.99%;
    height:23%;
    bottom:8%;
    border-radius:50%;
    left:3%;
    z-index:1;
    border-bottom: 1px solid black;
}
.bottom-hand.left{
    left:28%;
}
.bottom-hand.right{
    right:19%;
    background:linear-gradient(100deg,rgb(233, 202, 162),burlywood);
}
.top-hand{
    background:repeating-linear-gradient(160deg,black,black 5%,transparent 5%,transparent 50%),
    repeating-linear-gradient(burlywood,rgb(233, 202, 162));
    width:60%;
    height:40%;
    border-radius: 30% 30% 50% 30%;
    bottom:9.5%;
    left:3%;
    border:1px solid black;
}
.right-top-hand{
    background:linear-gradient(burlywood,rgb(233, 202, 162));
    width:60%;
    height:40%;
    border-radius: 30% 30% 50% 30%;
    bottom:9.5%;
    left:3%;
    border:1px solid black;
}
.fingers{
    background:
    repeating-linear-gradient(180deg,black,black 7%,transparent 7%,transparent 50%),
    repeating-linear-gradient(burlywood,rgb(233, 202, 162));
    height:40%;
    width:12%;
    margin-left: 3px;
    bottom:39.5%;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid black;
}
.fingers:nth-of-type(2){
    height:52%;
    left: 14.5%;
}
.fingers:nth-of-type(3){
    height:57%;
    left:29.5%;
}
.fingers:nth-last-of-type(4){
    height:47%;
    left:45%;
}
.fingers:nth-last-of-type(5){
    height:40%;
    left:54%;
    transform: rotate(50deg);
    top:45%;
}
.pocket-top{
    border-width:0 1.3vw 2vw 1.3vw;
    border-style: solid;
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color: white;
    position: absolute;
    top:49.3%;
    left:62%;
    z-index:3;
    border-radius:10% 70% 0 50%;
}
.pocket{
    width:6%;
    height:7%;
    background: var(--suit);
    left:62%;
    top:52%;
    z-index:3;
}