*{
  box-sizing:border-box;
}
html,body{
  font-family:'Open Sans', Arial, sans-serif;
  margin-left: -20px;
}
#navbar{
  position:fixed;
  width:335px;
}
#navbar header{
  text-align:center;
  font-size:27px;
  margin-top:5px;
}
#navbar ul>li{
  list-style:none;
  padding:15px 0;
}
#navbar ul li{
  border-top:1px solid #4d534e;
}
#navbar ul{
  overflow-y:auto;
  height:87%;
  width:335px;
  position:inherit;
}
#navbar ul>li>a{
  text-decoration:none;
  color:#4d4e53;
  padding-left:23px;
}
#main-doc{
 position:absolute;
 margin-left:335px;
 border-left:3px solid rgba(0, 22, 22, 0.4);
 padding:30px 40px;
 margin-top:-7px;
}
.main-section header{
  font-size:25px;
}
.main-section article{
  color:#4d534e;
  font-size:15px;
  line-height:23px;
}
article>ul>li{
  padding:8px 0;
}
article>ul>li>ul>li{
  padding:10px 0;
}
code{
  background-color:#f7f7f7;
  padding:15px 10px;
  line-height:2;
  border-radius:5px;
  margin:15px;
  display:block;
  font-size:12px;
}
@media only screen and (max-width:800px){
  #navbar{
    position:relative;
    width:100%;
    top:0;
    left:0;
    height:275px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
  }
  #navbar ul{
    border:1px solid black;
    width:100%;
    border-bottom: 2px solid #000;
    margin-right: -15px;
  }
  #navbar ul>li{
    margin-left: -10px;
  }
  #main-doc{
    border:0;
    position:absolute;
    margin-top:10px;
    margin-left: 20px;
  }
}